# Ambiente virtual
venv/
env/
.env

# Banco de dados (não deve ir para o git em produção)
db.sqlite3

# Arquivos compilados Python
__pycache__/
*.pyc

# Arquivos de teste e zip que estavam na raiz
*.xlsx
*.zip

# Diretórios que não devem ir pro git
staticfiles/
